body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Login {
  margin-left: 15px;
  max-width: 200px;
  
}

.Comp {
  margin-left: 15px;
  max-width: 300px;
}

.ResultadoNome {
  width: 100%;
}

.TableTitle {
  background-color: black;
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.Edit {
  margin: 0 auto;
}

.ColumnTop {
  vertical-align: top;
}

.ErrorMessage {
  color: red;
  font-size: 12px;
}